@model TheaBlog.Models.Album

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Album</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>

        <tr>
             <td>
                   @Html.DisplayFor(model => model.Title)
            </td>
            <td>
                @Html.DisplayFor(model => model.Description)
            </td>
            <td>
                @Html.DisplayFor(model => model.Date)
            </td>
        </tr>
        
    </table>
        <div class="row">
            @if (Model.Photos != null)
            {
                foreach (var photo in @Model.Photos)
                {
                    <div class="album-photo">

                        <div>
                            <a href="../../Photos/Details/@photo.PhotoId"><img src="~/Files?id=@photo.Image.FileId" alt="image" /></a>
                        </div>
                    </div>
                }
            }
        </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AlbumId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
