@using TheaBlog.Models.ViewModels
@model TheaBlog.Models.Photo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Model.Title</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.Image != null)
        {
            <dt>
                <br>
                Photo
            </dt>
            <dd>
                <img class="image-edit" src="~/Files?id=@Model.Image.FileId" alt="image" />
            </dd>
        }
    </dl>
    @if (Model.Comments != null)
    {
        foreach (var comment in Model.Comments)
        {
            <div class="comments">
                @Html.Partial("CommentDetailsPartialView", new CommentDetailsViewModel(comment))
            </div>
        }
    }

    @if (this.User.Identity.IsAuthenticated)
    {
        <div>@Html.Partial("CommentCreatePartialView", new CommentCreateViewModel(Model.PhotoId))</div>

    }
</div>
<p>
    @if (this.User.IsInRole("Administrator"))
    {
        <div class="edit">
            @Html.ActionLink("Edit", "Edit", new { id = Model.PhotoId })
        </div>
    }

    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Back to Album", "Details", "Albums", new { id = Model.AlbumId }, new { })
</p>
