@model TheaBlog.Models.Photo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Model.Title</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.Image!= null)
        {
            <dt><br>
                Photo
            </dt>
            <dd>
                <img class="image-edit" src="~/Files?id=@Model.Image.FileId" alt="image" />
            </dd>
        }


        @if (Model.Comments != null)
        {
            foreach (var comment in Model.Comments)
            {
                <dd>
                    <div>@comment.Author.UserName</div> 
                    <div>@comment.Date</div>
                    <br/>
                    <div>@comment.Description</div>
                </dd>
            }
        }

        <dd>
            <form>
                <input type="text" name="AddComment" placeholder="Add comment ..." />
                <input type="submit" name="Submit" value="Submit" class="btn btn-default" />
            </form>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PhotoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
