@model System.Collections.Generic.IEnumerable<TheaBlog.Models.Photo>

@{
    ViewBag.Title = "Index";
}


<p>
    @if (this.User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>

<div class="row">
    @foreach (var item in Model)
    {


        <div class="photo">

            @if (item.Image != null)
            {
                <div>
                    <img src="~/Files?id=@item.Image.FileId" alt="image" />
                </div>
            }

            <div class="modelPadding">
                <span class="modelName">@Html.DisplayNameFor(model => model.Title)</span>  :
                <span>@Html.DisplayFor(modelItem => item.Title)</span>
            </div>
            <div class="modelPadding">
                <span class="modelName">@Html.DisplayNameFor(model => model.Category)</span>  :
                <span>@Html.DisplayFor(modelItem => item.CategoryName)</span>
            </div>

            <div class="modelPadding">
                <span class="modelName">@Html.DisplayNameFor(model => model.Description)</span>  :
                <span>@Html.DisplayFor(modelItem => item.Description)</span>
            </div>
            <div class="modelPadding">
                <span class="modelName">@Html.DisplayNameFor(model => model.Date)</span>  :
                <span>@Html.DisplayFor(modelItem => item.Date)</span>
            </div>
            
                @if (this.User.IsInRole("Administrator"))
                {
                    <div class="edit">@Html.ActionLink("Edit", "Edit", new { id = item.PhotoId })</div>
                }

                <div class="edit">@Html.ActionLink("Details", "Details", new { id = item.PhotoId })</div>
                
                @if (this.User.IsInRole("Administrator"))
                {
                    <div class="edit">@Html.ActionLink("Delete", "Delete", new { id = item.PhotoId })</div>
                }
           
        </div>
    }
</div>
