@model IEnumerable<TheaBlog.Models.Photo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    @foreach (var item in Model)
    {


        <div class="photo">

            @if (item.Image != null)
            {
                <div>
                    <img src="~/Files?id=@item.Image.FileId" alt="image" />
                </div>
            }

            <div class="modelPadding">
                <span class="modelName">@Html.DisplayNameFor(model => model.Title)</span>  :
                <span>@Html.DisplayFor(modelItem => item.Title)</span>
            </div>
            <div class="modelPadding">
                <span class="modelName">@Html.DisplayNameFor(model => model.Category)</span>  :
                <span>@Html.DisplayFor(modelItem => item.Category)</span>
            </div>

            <div class="modelPadding">
                <span class="modelName">@Html.DisplayNameFor(model => model.Description)</span>  :
                <span>@Html.DisplayFor(modelItem => item.Description)</span>
            </div>
            <div class="modelPadding">
                <span class="modelName">@Html.DisplayNameFor(model => model.Date)</span>  :
                <span>@Html.DisplayFor(modelItem => item.Date)</span>
            </div>
            <div>
                @Html.ActionLink("Edit", "Edit", new { id = item.PhotoId }) |
                @Html.ActionLink("Details", "Details", new { id = item.PhotoId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PhotoId })
            </div>
        </div>
    }
</div>
